.blog{
    background-color: tomato;
    border: 3px solid black;
    margin: 20px;
    padding:20px;
    border-top-left-radius:50px;
    border-bottom-right-radius:50px;
}
#rana{
    text-align: center;
    background-color: chartreuse;
    border: 2px solid black;
    margin: 100px;
    padding: 20px ;
    
}